* {
  margin: 0;
  padding: 0;
  touch-action: pan-y; 
  box-sizing: border-box;
}
/* 处理ios下的按钮出现蓝色边框 touch-action处理*/
* {
  -webkit-tap-highlight-color: transparent!important;
  -webkit-appearance:none;
  --w-e-textarea-handler-bg-color: none;
}
.theme-color {
  color: #3E73A0;
}

#app {
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.alone-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.under-line {
  border-bottom: 1px solid #409EFF;
}